<header>
  <img src="images/roku.svg" alt="Roku Logo" id="mainlogo">
<nav>
 <ul>
  <li>
    <a href="/getFilms" class="get-posts ageGroup">Adults</a>
  </li>
  <li>
    <a href="/getKidsFilms" class="get-one ageGroup">Kids</a>
  </li>
</ul>
</nav>
</header>


<h1>{{ message }}</h1>

<ul>
  {{#each filmData}}
    <li>
      <h4>{{ movie_name }}</h4>
      <p>{{ movie_description }}</p>
    </li>
  {{/each}}
</ul>

<img src="images/footer-logo.png" alt="Footer Logo" id="footerlogo">
