<header>
  <img src="images/roku.svg" alt="Roku Logo" id="mainlogo">
  <section id="mainTabs">
  <ul>
    <li>
      <a href="/parents_page" class="get-posts ageGroup">Adults</a>
    </li>
    <li>
      <a href="/kids_page" class="get-one ageGroup">Kids</a>
    </li>
  </ul>
  <h3>{{ message2 }}</h3>
  </section>
</header>


<h1>{{ message }}</h1>

<ul>
  {{#each filmData}}
    <li>
      <h4>{{ movie_name }}</h4>
      <p>{{ movie_description }}</p>
    </li>
  {{/each}}
</ul>

<img src="images/footer-logo.png" alt="Footer Logo" id="footerlogo">
