<img src="images/roku.svg" alt="Roku Logo" class="logo">
<header>
  <h1>{{ message }}</h1>
</header>

<section id="greetings">
  <div class="media">
    <img src="images/movie.jpg" alt="couple watching a movie" class="mediaTabs">
    <h2>Movies</h2>
  </div>
  <div class="media">
    <img src="images/tv.jpg" alt="couple watching a movie" class="mediaTabs">
    <h2>Television</h2>
  </div>
<div class="media">
  <img src="images/music.jpg" alt="couple watching a movie" class="mediaTabs">
  <h2>Music</h2>
</div>
</section>

<section id="mainTabs">
<ul>
  <li>
    <a href="/getFilms" class="get-posts ageGroup">Adults</a>
  </li>
  <li>
    <a href="/getKidsFilms" class="get-one ageGroup">Kids</a>
  </li>
</ul>
<h3>{{ message2 }}</h3>
</section>

<img src="images/footer-logo.png" alt="Footer Logo" class="footerlogo">
