<img src="images/roku.svg" alt="Roku Logo" id="logo">
<header>
  <h1>{{ message }}</h1>
</header>

<section id="greetings">
<img src="images/movie.jpg" alt="couple watching a movie" id="mediaTabs">
<h2>Movies</h2>
<img src="images/tv.jpg" alt="couple watching a movie" id="mediaTabs">
<h2>Television</h2>
<img src="images/music.jpg" alt="couple watching a movie" id="mediaTabs">
<h2>Music</h2>
</section>

<section id="mainTabs">
<ul>
  <li>
    <a href="/parents_page" class="get-posts ageGroup">Adults</a>
  </li>
  <li>
    <a href="/kids_page" class="get-one ageGroup">Kids</a>
  </li>
</ul>
<h3>{{ message2 }}</h3>
</section>

<img src="images/footer-logo.png" alt="Footer Logo" id="footerlogo">
