<section class="greetings">
<div class="media">
  <img src="images/movie.jpg" alt="couple watching a movie" class="mediaTabs">
  <h2 class="mediaHeads">Movies</h2>
</div>
<div class="media">
  <img src="images/tv.jpg" alt="couple watching a movie" class="mediaTabs">
  <h2 class="mediaHeads">Television</h2>
</div>
<div class="media">
<img src="images/music.jpg" alt="couple watching a movie" class="mediaTabs">
<h2 class="mediaHeads">Music</h2>
</div>
</section>
