<h1>{{ message }}</h1>
<p>
  Welcome to the children's page
</p>

<ul>
  {{#each filmData}}
  <video controls>
        <source src="./videos/{{ video_name }}" type="video/mp4">
          <!--should load in the fallback sources here-->
      </video>
    <li>
      <img src="'/images/' + videos.video_name" alt="Cover" />
      <h4>{{ video_name }}</h4>
      <p>{{ video_description }}</p>
    </li>
  {{/each}}
</ul>

<img src="images/footer-logo.png" alt="Footer Logo" id="footerlogo">
